@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #6c63ff;
  text-align: center;
  font-size: 80px;
  padding-top: 60px;
}

.plusButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 8em;
  margin-bottom: 2em;
  height: 5vh;
}

.fa-plus-square:before {
  font-size: 40px;
  color: #6c63ff;
}

.tableau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  width: 80vw;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(63, 60, 246, 0.2);
  border-radius: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80vw;
}

th {
  padding: 20px 0px;
  font-size: 15px;
  width: 9vw;
}

.rows {
  background-color: #e6b1b1;
}

td {
  padding: 10px 15px;
  width: 8vw;
  font-size: 12px;
}

td a {
  color: black;
  text-decoration: none;
}

.imagebooks {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.fa-edit:before, .fa-trash:before {
  padding: 0px 7px;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em  auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: 90%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  position: absolute;
  font-size: 20px;
  bottom: 26em;
  z-index: 2;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #6c63ff;
}

.popup .content {
  max-height: 60%;
  overflow: auto;
}

.popupInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 20px;
}

.popupInput #idlivre {
  display: none;
}

.inputs {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 15vw;
  padding: 20px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6c63ff;
  border-radius: 3px;
  outline: none;
}

#btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popbutton {
  position: absolute;
  width: 6em;
  height: 28px;
  background-color: transparent;
  border-color: #6c63ff;
  border-radius: 30px;
  font-size: 15px;
  right: 44%;
  top: 42%;
}

.popbutton:hover {
  background-color: #6c63ff;
  color: white;
}

.custom-file {
  width: 16rem;
  padding: 0 0.5rem;
  position: absolute;
  background-color: #CFD8DC;
  overflow: hidden;
  bottom: 28em;
  left: 16em;
}

.custom-file .contentupload {
  line-height: 2rem;
  font-size: 1rem;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.custom-file .buttonupload {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #6c63ff;
  color: white;
}

.custom-file input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  opacity: 0;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  width: 90%;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(63, 60, 246, 0.2);
  border-radius: 10px;
}

.content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.secondform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  width: 100%;
  margin-top: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popbutton2 {
  position: absolute;
  width: 6em;
  height: 23px;
  background-color: transparent;
  border-color: #6c63ff;
  border-radius: 5px;
  font-size: 11px;
  right: 27%;
  top: 65%;
}

.popbutton2:hover {
  background-color: #6c63ff;
  color: white;
}

.inputs2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 15vw;
  padding: 20px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6c63ff;
  border-radius: 3px;
  outline: none;
  margin-left: 20em;
}
/*# sourceMappingURL=books.css.map */