@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
$color1:#6C63FF;
$color2:white;
$color3:black;
$color4:#34315D;
$font1:'Montserrat', sans-serif;

html{
    scroll-behavior: smooth;
main{
    
    text-align: center;
    .ligne1{
        display: flex;
        justify-content: space-evenly;
    
    h1{
        color: $color1;
        text-align: center;
        font-family: $font1;
        font-size: 100px;
        margin-top:100px;
        span{
            font-size:  80px;
        }
    }
    img{
        width: 400px;
        // float:right;
        margin:100px 0px 0px 0px;
    }
}
    .scrol{
        img{
            margin-top: 40px;
            width: 45px;
            cursor: pointer;
            margin-bottom: 100px;
        }
    }
    .ligne3{
        // margin-top: 500px;
        display: grid;
        grid-template-columns: auto auto;
        // display: flex;
        margin-top: 100px;
         width: 600px;
         margin-bottom: 150px;
        .about{
            padding-left: 100px;
            
        h3,p{
            color: $color1;
            font-family: $font1;
        }
        p{
            padding-top: 50px;
            line-height: 200%;
            text-align: left;
            // width: 50vw;
        }
    }
    .images{

        img{
            width: 300px;
            position: absolute;
            // float: right;
            transition: 1s;
        }
        .pic2{
            margin-left: 320px;
        }
        .pic3{
            margin-left: 160px;
        }
        .pic1:hover{
            transform: scale(1.05);
        }
        .pic2:hover{
            transform: scale(1.05);
        }
        .pic3:hover{
            transform: scale(1.05);
        }
    }
    
    }
}
}
@media screen and (max-width:600px){
    html{
        main{
            .ligne1{
                
                display: grid;
                grid-template-columns: auto;
                h1{
                    color: $color1;
                    text-align: center;
                    font-family: $font1;
                    font-size: 80px;
                    margin-top:50px;
                    float: left;
                    span{
                        font-size:  40px;
                    }
                }
                img{
                    width: 260px;
                    margin: 80px 0px 0px 0px;
                    
                }
            }
            .scrol{
                display: none;
            }
            .ligne3{
                // position: relative;
                grid-template-columns: auto;
                margin-bottom: 350px;
                width: auto;
                // background-color: $color2;
                // .images{
                //     position: relative;
                // }
                // display: none;
                .about{
                    padding-bottom: 60px;
                    h3,p{
                        color: $color1;
                        font-family: $font1;
                        width: 80%;

                    }
                    p{
                        padding-top: 50px;
                        line-height: 200%;
                        text-align: center;
                        width: 80%;
                    }
                }
                .images{

                    img{
                        width: 250px;
                        position: absolute;
                        // float: right;
                        transition: 1s;
                        left: 2%;
                        
                    }
                    .pic2{
                        margin-left: 250px;
                    }
                    .pic3{
                        margin-left: 125px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px){
    html{
        main{
            .ligne1{
                
                display: grid;
                grid-template-columns: auto;
                h1{
                    color: $color1;
                    text-align: center;
                    font-family: $font1;
                    font-size: 80px;
                    margin-top:50px;
                    float: left;
                    span{
                        font-size:  40px;
                    }
                }
                img{
                    width: 260px;
                    margin: 80px 0px 0px 0px;
                    
                }
            }
            .scrol{
                display: none;
            }
            .ligne3{
                // position: relative;
                grid-template-columns: auto;
                margin-bottom: 350px;
                width: auto;
                // background-color: $color2;
                // .images{
                //     position: relative;
                // }
                // display: none;
                .about{
                    padding-bottom: 60px;
                    h3,p{
                        color: $color1;
                        font-family: $font1;
                        width: 80%;

                    }
                    p{
                        padding-top: 50px;
                        line-height: 200%;
                        text-align: center;
                        width: 80%;
                    }
                }
                .images{

                    img{
                        width: 300px;
                        position: absolute;
                        // float: right;
                        transition: 1s;
                        left: 18%;
                        
                    }
                    // .pic1{
                    //     margin-right: 75px;
                    // }
                    .pic2{
                        margin-left: 340px;
                    }
                    .pic3{
                        margin-left: 170px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px){
    html{
        main{
            .ligne1{
                
                display: grid;
                grid-template-columns: auto;
                h1{
                    color: $color1;
                    text-align: center;
                    font-family: $font1;
                    font-size: 80px;
                    margin-top:50px;
                    float: left;
                    span{
                        font-size:  40px;
                    }
                }
                img{
                    width: 260px;
                    margin: 80px 0px 0px 0px;
                    
                }
            }
            .scrol{
                display: none;
            }
            .ligne3{
                // position: relative;
                grid-template-columns: auto;
                margin-bottom: 350px;
                width: auto;
                // background-color: $color2;
                // .images{
                //     position: relative;
                // }
                // display: none;
                .about{
                    padding-bottom: 60px;
                    h3,p{
                        color: $color1;
                        font-family: $font1;
                        width: 80%;

                    }
                    p{
                        padding-top: 50px;
                        line-height: 200%;
                        text-align: center;
                        width: 80%;
                    }
                }
                .images{

                    img{
                        width: 270px;
                        position: absolute;
                        // float: right;
                        transition: 1s;
                        left: 3%;
                        
                    }
                    .pic1{

                    }
                    .pic2{
                        margin-left: 300px;
                    }
                    .pic3{
                        margin-left: 148px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px){
    html{
        main{
            .ligne1{
                
                display: grid;
                grid-template-columns: auto;
                h1{
                    color: $color1;
                    text-align: center;
                    font-family: $font1;
                    font-size: 80px;
                    margin-top:50px;
                    float: left;
                    span{
                        font-size:  40px;
                    }
                }
                img{
                    width: 260px;
                    margin: 80px 0px 0px 0px;
                    
                }
            }
            .scrol{
                display: none;
            }
            .ligne3{
                // position: relative;
                grid-template-columns: auto;
                margin-bottom: 350px;
                width: auto;
                // background-color: $color2;
                // .images{
                //     position: relative;
                // }
                // display: none;
                .about{
                    padding-bottom: 60px;
                    h3,p{
                        color: $color1;
                        font-family: $font1;
                        width: 80%;

                    }
                    p{
                        padding-top: 50px;
                        line-height: 200%;
                        text-align: center;
                        width: 80%;
                    }
                }
                .images{

                    img{
                        width: 225px;
                        position: absolute;
                        // float: right;
                        transition: 1s;
                        left: 3%;
                        
                    }
                    .pic1{

                    }
                    .pic2{
                        margin-left: 240px;
                    }
                    .pic3{
                        margin-left: 120px;
                    }
                }
            }
        }
    }
}
